.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.slideClip {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.noContent {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.slide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transform: translate(0);
  transition: transform 0.3s linear;
}

.slide.foremost {
  z-index: 2;
}

.slide.left {
  transform: translate(-100%, 0);
}

.slide.right {
  transform: translate(100%, 0);
}

.cover {
  position: absolute;
  top: 0;
  left: -16px;
  right: -16px;
  bottom: 0;
  display: flex;
  align-items: center;
  pointer-events: none;
  z-index: 3;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navBtn {
  background-color: #0a0657;
  padding: 8px;
  width: 32px;
  height: 32px;
  border: none;
  outline: none;
  pointer-events: all;
  cursor: pointer;
}

.navBtn:active {
  padding: 2px;
}

.navBtn svg {
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.navBtn:hover svg {
  opacity: 1;
}
